body{

background:#0e0e10;
color:white;

font-family:Arial,Helvetica,sans-serif;

margin:0;
padding:0;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

}

.container{

width:90%;
max-width:700px;

}

h1{

text-align:center;
margin-bottom:20px;

}

.card{

background:#1f1f23;

padding:25px;
margin-bottom:20px;

border-radius:12px;

}

.command{

background:#000;
padding:12px;

border-radius:8px;

font-family:monospace;
margin:10px 0;

}

.features{

margin-top:10px;

}

#channelText{

text-align:center;
color:#aaa;

margin-bottom:25px;

}